<!DOCTYPE html>
<html>
    <head><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"></head>
    <body>
        <div class="main">
            <h1>Register</h1>
            <hr>
            <form method="post">
                <table style="width:75%;">
                    <tr>
                        <td>Username:</td>
                        <td><input type='text' name='username' required></td>
                    </tr>
                <!--<tr>
                        <td>Telegram username:</td>
                        <td><input type='text' name='telegram' required></td>
                    </tr> We aren't using this yet!-->
                    <tr>
                        <td>
                            <input type="checkbox" name="tos" required>
                            <label for="tos"> I read the <a href="/terms">Terms of Service</a>.</label>
                        </td>
                    </tr>
                    <tr>
                        <td><input type='submit' value='Register'></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>
